<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitHub Info</title>
</head>
<body>
    <p>If no session, this page or something idk</p>

    <form method="POST">
        <label for="CLIENTID">OAuth Client ID:</label><br>
        <input type="text" name="CLIENTID">
        <br>
        <label for="CLIENTSECRET">OAuth Client Secret:</label><br>
        <input type="password" name="CLIENTSECRET">
        <br>
        <button type="submit">Submit</button>
    </form>
    <!--use id for 
    
</body>
</html>