<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page or something</title>
</head>
<body>
    <a href="{{url_for('testing')}}">Go to OAuth Page</a>

    <form method="POST">
        <label for="PAT">Personal Access Token:</label><br>
        <input type="password" name="PAT">
        <br>
        <label for="ORGNAME">Organization/UserName:</label><br>
        <input type="text" name="ORGNAME">
        <br>
        <label for="REPONAME">Repository Name:</label><br>
        <input type="text" name="REPONAME">
        <br>
        <label for="ISSUETITLE">GitHub Issue Title:</label><br>
        <input type="text" name="ISSUETITLE">
        <br>
        <label for="ISSUEDESC">GitHub Issue Description:</label><br>
        <textarea name="ISSUEDESC" rows="3" cols="40"></textarea>
        <br>
        <button type="submit">Submit</button>
    </form>
    <!--use id for js and styling-->

    {%if message%}
    <p>{{message}}</p>
    {%endif%}


</body>
</html>